body{
    background:white;
}
.mainimg{
    width:25%;
    display:block;
    margin: 5% auto 0px auto;
}
.place{
    width:50%;
    display:block;
    margin: 5% auto 0px auto;
    border: 1px solid #dfe1e5;
    border-radius:20px;
    padding:15px;
}
.but{
    
    margin:2% 5px 0px 5px;
    padding:10px 15px 10px 15px;
    background:rgb(34, 110, 233);
    border:0px solid black;
    border-radius:5px;
}
.nav{
    /*flexbox*/
    display:flex;
    justify-content:center;
}