.nav{
    display:flex;
    justify-content:start;
    background:lightblue;
    width:100%;
    margin-right:0;
    margin-left:0;
    padding:20px;
    color:black;
}
a{
    color:black;
}
body {
    margin: 0;
    padding: 0;
}
.items{
    margin:5%;
}
