body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}

.nav {
    display: flex;
    align-items: center;
    background: green;
    padding: 10px 20px;
    gap: 40px;        /* spacing between elements */
}

img {
    width: 30px;
    border-radius: 100%;
}

.tab {
    cursor: pointer;
}
