
.card{

    background:green;
    width:70%;
    margin:30px auto 30px auto;
    padding:10%;
    border: 10px solid yellow;
    border-radius:20px;
}
button{
    
    
    border-radius:20px;
    padding:10px;
    width:10px;
}